NEXT_PUBLIC_API_URL=http://localhost:5000/api
NEXT_PUBLIC_EMAILJS_SERVICE_ID=your_emailjs_service_id
NEXT_PUBLIC_EMAILJS_RESET_REQUEST_TEMPLATE_ID=your_emailjs_reset_request_template_id
NEXT_PUBLIC_EMAILJS_PUBLIC_KEY=your_emailjs_public_key
